USE [master]
GO
/****** Object:  Database [Lab1BI]    Script Date: 22.03.2018 23:17:16 ******/
CREATE DATABASE [Lab1BI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lab1BI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Lab1BI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Lab1BI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Lab1BI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lab1BI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lab1BI]
GO
USE [Lab1BI]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 22.03.2018 23:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[ID_Country] [int] NOT NULL,
	[is_capital] [bit] NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Continent]    Script Date: 22.03.2018 23:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Continent](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Continent] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Countries]    Script Date: 22.03.2018 23:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Continent] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[population] [int] NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CountriesOrganizations]    Script Date: 22.03.2018 23:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountriesOrganizations](
	[ID_Country] [int] NOT NULL,
	[ID_Organization] [int] NOT NULL,
 CONSTRAINT [PK_CountriesOrganizations] PRIMARY KEY CLUSTERED 
(
	[ID_Country] ASC,
	[ID_Organization] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Organizations]    Script Date: 22.03.2018 23:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[founded_date] [date] NULL,
	[ID_Headquarter] [int] NOT NULL,
 CONSTRAINT [PK_Organizations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Countries] FOREIGN KEY([ID_Country])
REFERENCES [dbo].[Countries] ([ID])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Countries]
GO
ALTER TABLE [dbo].[Countries]  WITH CHECK ADD  CONSTRAINT [FK_Countries_Continent] FOREIGN KEY([ID_Continent])
REFERENCES [dbo].[Continent] ([ID])
GO
ALTER TABLE [dbo].[Countries] CHECK CONSTRAINT [FK_Countries_Continent]
GO
ALTER TABLE [dbo].[CountriesOrganizations]  WITH CHECK ADD  CONSTRAINT [FK_CountriesOrganizations_Countries] FOREIGN KEY([ID_Country])
REFERENCES [dbo].[Countries] ([ID])
GO
ALTER TABLE [dbo].[CountriesOrganizations] CHECK CONSTRAINT [FK_CountriesOrganizations_Countries]
GO
ALTER TABLE [dbo].[CountriesOrganizations]  WITH CHECK ADD  CONSTRAINT [FK_CountriesOrganizations_Organizations] FOREIGN KEY([ID_Organization])
REFERENCES [dbo].[Organizations] ([id])
GO
ALTER TABLE [dbo].[CountriesOrganizations] CHECK CONSTRAINT [FK_CountriesOrganizations_Organizations]
GO
ALTER TABLE [dbo].[Organizations]  WITH CHECK ADD  CONSTRAINT [FK_Organizations_Cities] FOREIGN KEY([ID_Headquarter])
REFERENCES [dbo].[Cities] ([ID])
GO
ALTER TABLE [dbo].[Organizations] CHECK CONSTRAINT [FK_Organizations_Cities]
GO
USE [master]
GO
